* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

/* Header */
header {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
}

/* Home Section */
.home {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("background.jpg") no-repeat center center/cover;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.home h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #0b3d91;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: #0b3d91;
  border: 2px solid #0b3d91;
}

/* About Section */
.about {
  padding: 80px 50px;
  background-color: #001f3f;
  color: white;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about img {
  width: 250px;
  border-radius: 10px;
}

.about-text h2 {
  margin-bottom: 15px;
}

/* Skills */
.skills {
  padding: 80px 50px;
  text-align: center;

  color: white;
}

.skill-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.skill-box div {
  background: #007bff;
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.skill-box div:hover {
  background: #0056b3;
  transition: 0.3s;
}

/* Projects */
.projects {
  padding: 80px 50px;
  background: #f4f4f4;
  text-align: center;
  background-color: #001f3f;
}

.project-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #007bff;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}
.project-card:hover {
  transform: translateY(-10px);
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Resume */
.resume {
  padding: 80px 50px;
  text-align: center;
}

/* Contact */
.contact {
  padding: 80px 50px;
  background: #111;
  color: white;
  text-align: center;
  line-height: 40px;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .skill-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-container {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    align-items: center;
  }
}
